// Variables
$font-stack: 'Open Sans', sans-serif;
$primary-text: #28a745;
$secondary-text: #0284d0;
$bg-color: #333;

// Resets
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap);

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-stack;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #333;
}

.heading {
    font-weight: 300;
    line-height: 1.2;
}

.text-primary {
    color: $primary-text;
}

.text-secondary {
    color: $secondary-text;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 1rem 3rem;
    color: #fff;
    background-color: $primary-text;
    border: none;
    border-radius: .5rem;

    &:hover {
        opacity: 0.9;
    }
}

// Navbar

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-color;
    color: white;
    opacity: 0.8;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0px;
    padding: 0 3rem;

    &__link {
        display: flex;

        &__single {
            display: block;
            color: white;
            padding: 1rem 1rem;
            margin: 0 .5rem;
            font-size: 1rem;
            &:hover {
                border-bottom: $primary-text solid .2rem;
            }
        }
    }
}

.logo-heading {
    font-weight: 400;
}

// Header
.hero {
    background: url(../image_resources/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    &__heading {
        font-size: 5.5rem;
    }

    &__slogan {
        font-size: 2.3rem;
        max-width: 60rem;
        margin: 2rem 0 3rem;
    }
}